
body{

  text-align: center;
  font-style: bold;
  color:rgb(230,64,25);
  background:pink;
  font-family: 'Rouge Script', cursive; font-size: 20px;
  font-weight: normal;
  line-height: 8px; margin: 0 0 50px;
  text-shadow: 1px 1px 2px #082b34;
  cursor: pointer;
}
.test{

  background-color:rgb(200,30,30);
  font-family: 'Cooper'; font-size: 12px;
  color: white;
  height:20px;
  width:50px;
  padding: 25px 42px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.newspaper {
  -webkit-column-count: 2; /* Old Chrome, Safari and Opera */
  -moz-column-count: 2; /* Old Firefox */
  column-count: 2;
  column-count: 400px;
}
