
body{

  align-items: center;
  text-align: center;
  font-style: bold;
  color:green;
  background:rgb(219,255,255);
  font-family: "Comic Sans MS", cursive, sans-serif; font-size: 20px;
  font-weight: normal;
  line-height: 8px; margin: 0 0 50px;
  text-shadow: 1px 1px 2px #082b34;
  cursor: pointer;
}
